#search-bar .fa-search {
  display: none;
}
#search-bar span {
  display: block;
}
#search-bar form button {
  width: 7rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#filter p {
  align-items: center;
}
section#popular {
  align-items: center;
}
section#popular > h2 {
  align-self: flex-start;
}

section#accommodation {
  align-items: center;
}
section#accommodation > h2 {
  align-self: flex-start;
}
section#accommodation > a {
  align-self: flex-start;
}

section#activity {
  align-items: center;
}
section#activity > h2 {
  align-self: flex-start;
}
section#popular article {
  max-width: 550px;
}

section#accommodation article {
  max-width: 450px;
}
section#accommodation > div {
  align-items: center;
}
section#accommodation > a {
  margin-left: 3 rem;
}
section#activity article {
  max-width: 450px;
}
