* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 1.4em;
  font-weight: 700;
}
h2 {
  padding-bottom: 20px;
  font-size: 1.4em;
  font-weight: bold;
  flex-basis: 100%;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}
h4 {
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
}
p {
  font-size: 1em;
}
section {
  padding: 30px 15px;
  flex-basis: 100%;
}
article:hover {
  transform: scale(1.02);
}
.text-blue {
  color: #0065fc;
}
main {
  margin-top: 20px;
}
main span {
  font-weight: bold;
}
/* HEADER */
header {
  margin-top: 20px;
}
header > a:nth-child(1) {
  padding-left: 20px;
}
header > a:nth-child(2) {
  padding-right: 20px;
  font-weight: bold;
}
header > a:nth-child(2):hover {
  opacity: 0.8;
}
header li {
  text-align: center;
  flex-basis: 50%;
  padding: 1rem 1rem;
  border-bottom: solid 3px #f2f2f2;
}
header li:hover {
  border-bottom: solid 3px #0065fc;
}
header li:hover > a {
  color: #0065fc;
}
/* SECTION SEARCH */
#search-bar p {
  margin-top: 15px;
}
#search-bar form {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}
#search-bar form label i {
  font-size: 1rem;
  line-height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  outline: none;
  background: #f2f2f2;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
#search-bar form input {
  border: 0;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding-left: 5px;
}
#search-bar form button {
  line-height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  background: #0065fc;
  border-radius: 0.5em;
  border: 0;
  color: white;
  cursor: pointer;
}
#search-bar form button:hover {
  opacity: 0.8;
}
/* SECTION FILTER */
#filter {
  flex-basis: 100%;
}
#filter li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding-right: 8px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
}
#filter li i {
  line-height: 3em;
  width: 3em;
  text-align: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  margin-right: 8px;
}
#filter li:hover {
  background: #deebff;
  border: 2px solid #deebff;
  box-shadow: 0px 15px 10px -15px #111;
}
#filter p {
  margin: 16px 0px;
  line-height: 1.5em;
  align-items: flex-start;
}
#filter p i {
  line-height: 1.5em;
  flex: 0 0 1.5em;
  text-align: center;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
}
/* ARTICLE */
#popular article,
#accommodation article {
  flex-basis: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #aaa;
}
#activity article {
  flex-basis: 100%;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 8px 8px 12px #aaa;
}
/* IMAGE */
#popular article img {
  flex-basis: 100%;
  max-width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
#popular article:hover img {
  opacity: 0.5;
}
#accommodation article img,
#activity img {
  flex-basis: 100%;
  max-width: 100%;
  max-height: 125px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* SECTION POPULAR*/
#popular {
  background: #f2f2f2;
}
#popular article figure {
  flex-basis: 42%;
}
#popular article a > div {
  flex-basis: 58%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
#popular article a div > div {
  margin-top: auto;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.185);
}
/* SECTION ACCOMODATION*/
#accommodation article a > div {
  padding-left: 10px;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#accommodation article a div > div {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.185);
}
#accommodation > a {
  margin-top: 20px;

  font-weight: bold;
}
#accommodation > a:hover {
  color: #0065fc;
}
/* SECTION ACTIVITY */
#activity h4 {
  padding: 20px;
}
#activity article figure {
  transition: transform 1.3s;
}
/* FOOTER  */
footer {
  padding: 16px;
  background-color: #f2f2f2;
}
footer li {
  padding: 10px 0;
}
footer h3 {
  padding: 20px 0;
}
@media only screen and (min-width: 576px) {
  #search-bar .fa-search {
    display: none;
  }
  #search-bar span {
    display: block;
  }
  #search-bar form button {
    width: 7rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #filter p {
    align-items: center;
  }
  #accommodation,
  #activity {
    align-items: center;
  }
  #accommodation article,
  #activity div {
    width: 85%;
  }
  #accommodation h2,
  #accommodation a,
  #activity h2 {
    align-self: start;
  }

  #accommodation article img,
  #activity img {
    max-height: 150px;
  }
  @media only screen and (min-width: 768px) {
    #popular {
      align-items: center;
    }
    #popular article {
      width: 95%;
    }
    #popular h2 {
      width: 100%;
    }
    #accommodation {
      flex-flow: row wrap;
      justify-content: space-around;
    }

    #accommodation article {
      flex-basis: 45%;
    }
    #accommodation a {
      flex-basis: 100%;
    }
    #activity div {
      width: 90%;
    }
    #activity > div {
      display: flex;
      justify-content: space-around;
    }
    #activity article {
      margin: 10px 10px;
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
