* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}
header,
main {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 1.4em;
  font-weight: 700;
  padding: 16px 0;
}
h2 {
  padding: 2rem 0 3rem 0;
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
  padding: 16px 0;
  font-size: 0.9em;
  font-weight: bold;
}
h4 {
  padding: 8px 0;
  font-size: 0.9em;
  font-weight: bold;
}
p {
  font-size: 0.95em;
}
section {
  padding: 16px;
  width: 100%;
}
article {
  margin: 0 auto;
}
article:hover {
  transform: scale(1.02);
}
.text-blue {
  color: #0065fc;
}
main span {
  font-weight: bold;
}
/* HEADER */
header {
  width: 100%;
}
header a {
  padding: 20px;
}
#register {
  font-weight: bold;
}
#register:hover {
  opacity: 0.8;
}
header li:hover {
  border-bottom: solid 3px #0065fc;
}
header li a:hover {
  color: #0065fc;
}

header li {
  width: 100%;
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: solid 3px #f2f2f2;
}
/* SECTION SEARCH */
#search-bar form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
#search-bar form label i {
  font-size: 1rem;
  line-height: 1rem;
  padding: 12px;
  outline: none;
  background: #f2f2f2;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
#search-bar form input {
  border: 0;
  padding-left: 8px;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}
#search-bar form button {
  line-height: 1rem;
  font-size: 1rem;
  padding: 12px;
  background: #0065fc;
  border-radius: 0.5em;
  border: 0;
  color: white;
  cursor: pointer;
}
#search-bar form button:hover {
  opacity: 0.8;
}
/* SECTION FILTER */
#filter {
  width: 100%;
}
#filter h3 {
  font-weight: bold;
}
#filter li i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  line-height: 1rem;
  margin: 0 8px 0 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#filter ul {
  padding-right: 1rem;
}
#filter ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  margin: 8px;
  padding-right: 8px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
#filter li:hover {
  background: #deebff;
  color: #0065fc;
  border: 2px solid #deebff;
}
#filter p {
  margin: 16px 8px;
  display: flex;
  flex-flow: row;
}
#filter p i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  min-width: 20px;
  font-size: 12px;
  background: white;
  color: #0065fc;
  border: solid 2px #f2f2f2;
  border-radius: 50px;
  margin-right: 8px;
}
/* SECTION POPULAR*/
#popular {
  background: #f2f2f2;
}
#popular article figure {
  padding: 5px;
  margin: 1rem 0 1rem 0;
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: 1px 0px 21px 10px rgba(141, 141, 141, 0.4);
}
#popular article img {
  width: 40%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#popular article figcaption {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#popular div {
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.185);
}
/* SECTION ACCOMODATION*/
#accommodation article figure {
  padding: 5px;
  margin: 1rem 0 2rem 0;
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: 1px 0px 21px 10px rgba(141, 141, 141, 0.4);
}
#accommodation figure img {
  width: 100%;
  max-height: 125px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#accommodation article figcaption {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
#accommodation div {
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.185);
}
.pin_up {
  padding-left: 32px;
  font-weight: bold;
}
.pin_up:hover {
  color: #0065fc;
}
/* SECTION ACTIVITY */
#activity article {
  width: 100%;
  margin: 1rem 0 1rem 0;
  border-radius: 20px;
  box-shadow: 1px 0px 21px 10px rgba(141, 141, 141, 0.4);
}
#activity figure img {
  width: 100%;
  max-height: 125px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#activity h4 {
  padding: 1rem;
}
/* FOOTER  */
footer {
  width: 100%;
  padding: 16px;
  background-color: #f2f2f2;
}
footer li {
  padding: 8px 0;
}
