/* GENERAL */
body {
  font-family: "Raleway", sans-serif;
  width: 100%;

  box-sizing: border-box;
  min-width: 320px;
  font-size: 17px;
}
header,
main {
  max-width: 1300px;
  margin: 0 auto;
  min-width: 300px;
}
a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 1.4em;
  font-weight: 700;
  padding: 10px 0;
}
h2 {
  padding: 20px 0;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 2rem;
}

h3,
h4 {
  padding: 10px 0;
  font-size: 0.9em;
  font-weight: bold;
}
p {
  font-size: 0.95em;
}
article {
  min-width: 320px;
  max-width: 650px;
  margin: 0 auto;
}
article:hover {
  -webkit-transform: scale(1.02); /* Safari et Chrome */
  -moz-transform: scale(1.02); /* Firefox */
  -ms-transform: scale(1.02); /* Internet Explorer 9 */
  -o-transform: scale(1.02); /* Opera */
  transform: scale(1.02);
}

/* HEADER */

header {
  position: relative;
  flex: 0 0 auto;
  min-width: 340px;
}

#logo {
  padding: 15px;
}
#register {
  position: absolute;
  top: 20px;
  right: 3px;
  font-weight: bold;
  width: 30%;
  padding: 15px 0;
  border: none;
  margin-right: 1rem;
}
#register:hover {
  opacity: 0.8;
}
header li {
  border-bottom: solid 3px #f2f2f2;
}
header .border-bttm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem 2rem;
}
header li:hover {
  border-bottom: solid 3px #0065fc;
}
/* SECTION SEARCH */

#search-bar {
  margin: 1rem;
}
#search-bar form {
  margin-top: 30px;
}
#search-bar form label i,
#search-bar form button {
  padding: 0.8em 1em;
  font-size: 1em;
  outline: none;
}
#search-bar form label i {
  background: #f2f2f2;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#search-bar form input {
  border: 0;
  margin-left: 0.5em;
  line-height: 2em;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}
#search-bar form button {
  border-radius: 0.5em;
  background: #0065fc;
  color: white;
  border: 0;
  cursor: pointer;
}
#search-bar form button:hover {
  opacity: 0.8;
}

/* SECTION FILTER */

#filter {
  margin: 1rem;
  flex-flow: column;
}
#filter h3 {
  font-weight: bold;
  padding-top: 20px;
  margin: 0 20px 0 10px;
}
#filter .fas {
  position: relative;
  right: 1px;
  color: #0065fc;
  padding: 12px 13px;
  background-color: #deebff;
  border-radius: 25px;
}
#filter ul li {
  padding-right: 0.6rem;
  margin: 1rem 1rem 0.8rem 0.6rem;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}
#filter li:hover {
  background: #0065fc;
  color: white;
  border: 2px solid #0065fc;
}

main .info {
  margin: 1rem 2rem;
}

.fa-info {
  margin: 0 1rem;
  font-size: 0.6em;
  background: white;
  color: #0065fc;
  border: solid 1px lightgrey;
  border-radius: 25px;
  padding: 5px 7px;
  float: left;
}

/* SECTION POPULAR */

main div {
  margin: 0 1.4rem 2rem 1.4rem;
}
main div span {
  font-weight: bold;
}
aside#popular article figure {
  margin: 1rem 0 1rem 0;
  background: #f2f2f2;
  border-radius: 20px;
}
aside#popular article img {
  width: 40%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
aside#popular article figure p {
  margin: 1rem 0 2.5rem 0;
}
aside#popular div {
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.185);
}
aside#popular article figcaption {
  padding: 0 0.6rem 0 1rem;
}

/* SECTION ACCOMMODATION */

section#accommodation article figure {
  margin: 1rem 0 2rem 0;
  background: #f2f2f2;
  border-radius: 20px;
}
section#accommodation figure img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section#accommodation article figcaption {
  padding: 0 0.6rem 0 1rem;
}
section#accommodation div {
  color: rgba(0, 0, 0, 0.185);
  padding: 10px 0 10px 0;
}
.pin_up {
  margin-left: 2rem;
  font-weight: bold;
}
.pin_up:hover {
  color: #0065fc;
}

/* SECTION ACCOMMODATION */

section#activity article {
  width: 100%;
  margin: 1rem 0 2rem 0;
  background: #f2f2f2;
  border-radius: 20px;
}
section#activity figure img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section#activity h4 {
  padding: 1rem;
}

/* FOOTER  */
footer {
  padding: 20px;
  background-color: #f2f2f2;
}
footer div {
  padding: 0 0.5rem 1rem 0.5rem;
}
