.d-flex {
  display: flex;
}
.f-dir-col {
  flex-direction: column;
}
.f-dir-col-reverse {
  flex-direction: column-reverse;
}
.f-dir-row {
  flex-direction: row;
}
.f-wrap {
  flex-wrap: wrap;
}
.jtfy-cnt-ctr {
  justify-content: center;
}
.jtfy-cnt-arnd {
  justify-content: space-around;
}
.jtfy-cnt-spc-btw {
  justify-content: space-between;
}
.algn-itms-center {
  align-items: center;
}
.margin-0-auto {
  margin: 0 auto;
}
.w-100 {
  flex: 0 0 100%;
}
.d-none {
  display: none;
}
.color {
  color: #0065fc;
}
